.moon{
width: 200px;
    border-radius: 10px;
   
    color: white;
    background-color: rgb(24,24,27,0.6);
    margin :10px 0;
    padding: 0 20px 20px 20px;
    text-align: center;
    border: 1px solid #eeee;
   
}


.top{
    display: flex;
    text-align: center;
    
    align-items: center;
}

.date{
    font-weight: 600;
   font-size: 18px;
   line-height: 1;
   margin: 0;
   letter-spacing: 1px; 
}

.phase{
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.icon-moon{
    
    width: 40%;
    height:auto;
    padding-left: 65px;
   
}