.moon{
width: 300px;
    border-radius: 10px;
    box-shadow: 10px -2px 20px 2px rgb(0, 0, 0);
    color: white;
    background-color: rgb(43, 183, 238);
    margin :20 px auto 0 auto;
    padding: 0 20px 20px 20px;
    text-align: center;
   
}


.top{
    display: flex;
    text-align: center;
    
    align-items: center;
}

.date{
    font-weight: 600;
   font-size: 18px;
   line-height: 1;
   margin: 0;
   letter-spacing: 1px; 
}

.phase{
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.icon-moon{
    
    width: 55%;
    height:auto;
   
}