.weather{
    
    
    color: white;
   
    margin :10px 0;
    padding: 0 40px 40px 40px;
    text-align: center;
    
}



  
.direction{
    display: flex;
    align-items: center;
   
}

.iconita{
    width: 100%;
    height:auto;
    
}

.top{
    display: flex;
    
    justify-content:space-between ;
    align-items: center;
    
    
}

.location{
   font-weight: 600;
   font-size: 40px;
   line-height: 1;
   margin: 0;
   letter-spacing: 1px; 
   display: flex;
}

.description{
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    margin: 0;
}


.temperature{
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details{
    width:100%;
    padding-left: 15px;
    font-size: 20px;
}

.paramete-row{
    display:flex;
    justify-content: space-between;
}


.parameter-label{
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    padding-left: 20px;
}









