.container{
  max-width:350px;
  margin:20px auto;
 padding: 70px;
}

.container-search{
  max-width:350px;
  position: relative;
  
}

.container-moon{
  max-width:350px;
  margin:60px auto;
 
}

.constainer-time{
 
  padding: 20px 70px;
}

