.container{
  max-width:350px;
  margin:2px auto;
 
}

.container-search{
  max-width:350px;
  position: relative;
  
}

.container-moon{
  max-width:350px;
  margin:60px auto;
  padding-left: 550px;
 
}

.constainer-time{
 
  padding: 20px 70px;
}

