.wrapper{
    
    display: grid;
  grid-template-columns: repeat(3, 1fr);
    
    
   
}
.box{
    width: 100px;
    border-radius: 15px;
    color: white;
    background-color: rgb(24,24,27,0.6);
    margin :10px 0;
    padding: 0 20px 20px 20px;
    text-align: center;
    border: 1px solid #eeee;}
.icon-sun{
    width: 40%;
    
}

.top{
    display: flex;
    text-align: center;
    align-items: center;
}
.main{
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    margin: 0;
    letter-spacing: 1px; 

    
}
.secondary{
    font-weight: 400;
    font-size: 20px;
}